/* CSS reset */

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  body {
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 16px;
  }
/* -------------------------Start Screen Container--------------------------- */
  .container {
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    width: 100%;
    max-width: 600px;
    overflow: auto;
    position: relative;
  }
/* --------------------------Screen-------------------------- */
  .screen {
    padding: 2rem;
    text-align: center;
    display: none;

  }

  .screen.active {
    display: block;

  }

  /* --------------------------start screen-------------------------- */

  #start-screen h1 {
    color: rgb(243, 133, 89);
    margin-bottom: 20px;
    font-size: 40px;
  }

  #start-screen p {
    color: rgb(102, 102, 102);
    margin-bottom: 1.4rem;
    font-size: 18px;
  }

  /* -------------------------Quiz header--------------------------- */
  
  .quiz-header {
    margin-bottom: 20px;
  }

  #question-text {
    color: rgb(68, 68, 68);
    font-size: 24px;
    margin-bottom: 16px;
    line-height: 1.3;
  }
  
  .quiz-info {
    display: flex;
    justify-content: space-between;
    color: rgb(102, 102, 102);
    gap: 12px;
    margin-bottom: 8px;
  }
/* -------------------------answer container-------------------------*/

 #answers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 1.5rem;

 }

 /* -------------------------button-------------------------*/

 .answer-btn {
  border: 3px solid rgb(248, 240, 229);
  border-radius: 12px;
  padding: 16px;
  text-align: left;
  transition: all 0.4s ease;
  cursor: pointer;
  background-color: rgb(234, 219, 200);
  color:rgb(65, 65, 65);
 }
/* --------Hover effect answer button--------*/
 
 .answer-btn:hover {
  background-color: rgb(231, 214, 191);
  border-color: rgb(203, 203, 170);
 }

 .answer-btn.correct {
  background-color: oklch(97.873% 0.03104 160.437);
  border-color: rgb(247, 148, 173);
  color: rgb(36, 194, 73);
 }

 .answer-btn.incorrect {
  background-color: rgb(248, 135, 248);
  background-color:rgb(243, 173, 173);
  color:rgb(216, 61, 77);
 }
/* -------------------------progresss bar-------------------------*/
 
.progress-bar {
  height: 12px;
  background-color: rgb(248, 240, 229);
  border-radius: 6px;
  overflow: hidden;
  margin-top: 18px;

}

.progress {
  height: 100%;
  background-color: rgb(232, 106, 51);
  width:0%;
  transition: width 0.4s ease;

}

/* -------------------------result screen-------------------------*/

#result-screen h1 {
  color: rgb(232, 106, 51);
  margin-bottom: 28px;

}

.result-info {
  background-color:rgb(248, 240, 229);
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 28px;
}

  .result-info p {
    font-size: 20px;
    color: rgb(51, 51, 51);
    margin-bottom: 16px;  
  }

  #result-message {
    font-size: 22px;
    font-weight: 500;
    color: rgb(232, 106, 51);
 }

/* -------------------------Button-------------------------*/

button {
  background-color:rgb(220, 95, 41);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 12px;
  padding: 16px 32px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(230, 96, 201);
}

/* -------------------------Responsive -------------------------*/

@media (max-width: 500px) {

  /* These sets of style apply when we hit width of 500px and below */
  
  .screen {
    padding:16px;
  }

  #start-screen {
    font-size: 32px;
  }

  #start-screen h1 {
    font-size: 32px;
}
#question-text {
  font-size: 18px;
}

.answer-btn {
  padding:12px;
}

button {
  padding: 14px 28px;
  font-size: 16px;
}
}